html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "medium";
  word-break: break-word;
  overflow-x: hidden;
  min-height: 100vh;
  animation: 1s 0.1s fadeIn backwards;
  color: #404041;
}

::selection {
  color: #3232ff;
}

/* width */

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  /* display: none; */
}

/* Track */

::-webkit-scrollbar-track {
  background: rgb(255 255 255);
  /* display: none; */
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #a4bcfd;
  border-radius: 5px;
  /* display: none; */
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #3538cd;
  /* display: none; */
}

@font-face {
  font-family: exta-bold;
  src: url(../fonts/Gilroy-ExtraBold.ttf);
  font-display: swap;
}

@font-face {
  font-family: bold;
  src: url(../fonts/Gilroy-Bold.ttf);
  font-display: swap;
}

@font-face {
  font-family: medium;
  src: url(../fonts/Gilroy-Medium.ttf);
  font-display: swap;
}

@font-face {
  font-family: regular;
  src: url(../fonts/Gilroy-Regular.ttf);
  font-display: swap;
}

.webkit-1,
.webkit-3,
.webkit-4 {
  display: -webkit-inline-box;
  -webkit-box-orient: vertical !important;
  width: 100% !important;
  overflow: hidden !important;
}

.webkit-1 {
  -webkit-line-clamp: 1 !important;
}

.webkit-2 {
  -webkit-line-clamp: 2 !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  display: -webkit-box !important;
  -webkit-box-orient: vertical !important;
}

.webkit-3 {
  -webkit-line-clamp: 3 !important;
}

.webkit-4 {
  -webkit-line-clamp: 4 !important;
}

button:focus {
  outline: none;
  box-shadow: none;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

p,
.doc-sec h4,
.doc-sec li,
.about-sec h3,
.about-sec li,
li {
  font-family: "regular" !important;
}

.default-bg {
  background-color: #3232ff !important;
}

.second-bg {
  background-color: #f6f8ff;
}

.second-bg2 {
  background-color: #ecefff;
}

.default-color {
  color: #3232ff;
}

.color-gray {
  color: #505056;
}

.bold {
  font-family: "bold";
}

.extra-bold {
  font-family: "exta-bold";
}

.rtl {
  direction: rtl;
}

.ltr {
  direction: ltr;
}

.f-1-3-rem {
  font-size: 1.3rem;
}

.l-1-5 {
  line-height: 1.5;
}

.f-3-1-rem {
  font-size: 3.1rem;
}

.f-3-2-rem {
  font-size: 3.2rem;
}

.f-3-4-rem {
  font-size: 3rem;
}

.f-2-7rem {
  font-size: 2.7rem;
}

.f-1-5-rem {
  font-size: 1.4rem;
}

.f-1-6-rem {
  font-size: 1.6rem;
}

.f-1-9-rem {
  font-size: 1.9rem;
}

.f-1-8-rem {
  font-size: 1.8rem;
}

.f-1-7-rem {
  font-size: 1.7rem;
}

.f-18 {
  font-size: 18px;
}

.f-19 {
  font-size: 18px;
}

.f-20 {
  font-size: 20px;
}

.f-25 {
  font-size: 25px;
}

.f-23 {
  font-size: 23px;
}

.f-13 {
  font-size: 13px !important;
}

.f-12 {
  font-size: 12px !important;
}

.f-14 {
  font-size: 14px;
}

.f-17 {
  font-size: 17px;
}

.f-16 {
  font-size: 16px;
}

.f-2-1-rem {
  font-size: 2.1rem;
}

.f-2-rem {
  font-size: 2rem;
}

.f-2-5-rem {
  font-size: 2.5rem;
}

.p-100 {
  padding-top: 90px;
  padding-bottom: 90px;
}

.w-250 {
  width: 250px !important;
}

.border-l {
  border-left: 1px solid #e4e6f1;
}

.br-30 {
  border-radius: 30px;
}

.br-20 {
  border-radius: 20px;
}

.br-10 {
  border-radius: 10px;
}

.bg-white {
  background-color: #fff !important;
}

.bg-black {
  background-color: #000 !important;
}

.bg-selver {
  background: #ecefff !important;
}

.bg-selver p {
  color: #404041 !important;
}

.br-white {
  border: 1px solid #fff;
  border-radius: 10px;
}

.h-750 {
  height: 725px;
}

.w-125 {
  width: 125px !important;
  height: 245px;
}

.w-150 {
  width: 150px !important;
  height: 300px;
}

.w-185 {
  width: 190px !important;
  height: 200px;
}

.w-200 {
  width: 200px !important;
  height: 185px;
}

.h-280 {
  height: 300px;
  padding-top: 40px;
}

.color-selver {
  color: #6c757d;
}

.w-400 {
  width: 400px;
}

.h-385 {
  height: 310px;
}

.h-260 {
  height: 260px;
}

.h-710 {
  height: 823px;
}

.h-300 {
  height: 400px;
}

/*======================animation============*/

.reveal {
  position: relative;
}

.fade-in,
.fade-in2,
.fade-in3 {
  opacity: 0;
}

.fade-in {
  transition: all 0.4s ease-in-out;
}

.fade-in2 {
  transition: all 0.6s ease-in-out;
}

.fade-in3 {
  transition: all 0.8s ease-in-out;
}

.active .fade-in {
  animation-name: fade-in;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.active .fade-in3 {
  animation-name: fade-in;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.active .fade-in2 {
  animation-name: fade-in;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.fading {
  text-align: center;
  animation-name: fade-in;
  animation-duration: 5s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-bottom {
  animation: fade-bottom 3s ease-in;
}

@keyframes fade-bottom {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.fading2 {
  text-align: center;
  animation: fade-top 5s;
  -webkit-animation: fade-top 5s;
  -moz-animation: fade-top 5s;
  -o-animation: fade-top 5s;
  -ms-animation: fade-top 5s;
}

@keyframes fade-top {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.active .img-center .img1 {
  animation-name: left;
  width: 85% !important;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.img-center .img1 {
  top: 12%;
  left: 55%;
}

@keyframes left {
  from {
    top: 12%;
    left: 55%;
  }

  to {
    top: 12%;
    left: 8%;
  }
}

.active .img-center .img3 {
  animation-name: left3;
  width: 80% !important;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.img-center .img3 {
  bottom: 28%;
  left: 61%;
}

@keyframes left3 {
  from {
    bottom: 28%;
    left: 61%;
  }

  to {
    bottom: 28%;
    left: 13%;
  }
}

.active .img-center .img2 {
  animation-name: right2;
  width: 88% !important;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.img-center .img2 {
  top: 31%;
  right: 68%;
}

@keyframes right2 {
  from {
    top: 31%;
    right: 68%;
  }

  to {
    top: 31%;
    right: 6%;
  }
}

.active .img-center .img4 {
  animation-name: right;
  width: 80% !important;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.img-center .img4 {
  bottom: 17%;
  right: 68%;
}

@keyframes right {
  from {
    bottom: 17%;
    right: 68%;
  }

  to {
    bottom: 17%;
    right: 7%;
  }
}

.active .img-center {
  animation-name: rotate;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.img-center {
  transform: rotate(25deg);
}

.tech-text3,
.tech-text4,
.tech-text1,
.tech-text2 {
  opacity: 0;
}

@keyframes rotate {
  from {
    transform: rotate(25deg);
  }

  to {
    transform: rotate(0deg);
  }
}

.active .tech-text1 {
  animation: fade-in3 3s;
  opacity: 1;
  animation-timing-function: ease-in-out;
}

.active .tech-text2 {
  animation: fade-in3 3.2s;
  opacity: 1;
  animation-timing-function: ease-in-out;
}

.active .tech-text3 {
  animation: fade-in2 3.2s;
  opacity: 1;
  animation-timing-function: ease-in-out;
}

.active .tech-text4 {
  animation: fade-in2 3.4s;
  opacity: 1;
  animation-timing-function: ease-in-out;
}

@keyframes fade-in2 {
  0% {
    transform: translateX(50px);
    opacity: 0;
  }

  100% {
    transform: translatex(0);
    opacity: 1;
  }
}

@keyframes fade-in3 {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }

  100% {
    transform: translatex(0);
    opacity: 1;
  }
}

.img-main-introduction .img1 {
  transition: all 0.3s ease-in-out;
}

.active.img-main-introduction .img1,
.active .wallet-bottom {
  text-align: center;
  animation: fade-top2 1s;
}

@keyframes fade-top2 {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.active .answer-works2,
.active .wallet-right {
  animation: fillup-x-flip 1s ease-in-out;
}

.active .answer-works1,
.active .wallet-left {
  animation: fillup-x 1s ease-in-out;
}

.active .answer-works4 {
  animation: fillup-x-flip 1.2s ease-in-out;
}

.active .answer-works3 {
  animation: fillup-x 2s ease-in-out;
}

@keyframes fillup-x {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes fillup-x-flip {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

/*===================================hover======================*/

header .navbar .nav-link,
header,
.animated-button i,
.animated-button,
.all-img-track,
.all-img-track .img-track,
.all-img-track .div-imghover,
.all-img-track .div-imghover2,
.all-img-track .img-trackmain,
.all-img-track .div-imghoverr,
.all-img-track .div-imghoverr2,
.all-img-track .img-motivationmain,
.all-img-track .div-imghoverm,
.all-img-track .div-imghoverm2,
.all-img-track .div-imghovernf,
.all-img-track .div-imghovernf2,
.all-img-track .img-trackmainnft,
.img-frame .mob-img1,
.bedo-div,
.bedo-div .white-hover,
.month-div,
.month-card,
.hide-card,
.month-card2,
.hide-card2,
.month-card3,
.hide-card3,
.blur,
.box-wrap,
.box-wrap .box,
.social i,
.second-details,
.second-details2,
.second-details3,
.second-details p,
.second-details2 p,
.second-details3 p,
.second-details h4,
.second-details2 h4,
.second-details3 h4,
.second-details strong,
.second-details2 strong,
.second-details3 strong,
.test-div,
.test-div p,
.test-div path,
.topanddown,
.topanddown .downMove,
.topanddown .topnMove,
.img-mode,
.left-foot.w-50 a,
.animated-button2,
.animated-button3,
.animated-button3 i,
.wallet-div {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

/*===========================header=======================================*/
header .navbar-brand img {
  width: 120px;
}

@keyframes rotate-y {
  49% {
    transform: translateY(-100%);
  }

  50% {
    opacity: 0;
    transform: translateY(70%);
  }

  55% {
    opacity: 1;
  }
}

header .navbar .nav-link {
  font-size: 17px;
  color: #404041 !important;
}

header .navbar .nav-link:focus,
header .navbar .nav-link:hover,
header .navbar .nav-link.active {
  font-weight: 700;
  color: #3232ff !important;
}

.right-head img {
  width: 125px;
  margin: 0 15px;
  object-fit: cover;
}

header {
  padding-top: 1.1rem;
  padding-bottom: 1.1rem;
  border-bottom: 1px solid #dcdcdc;
  width: 100%;
  background-color: #fff;
}

.sticky-navbar {
  position: fixed;
  top: 0px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  z-index: 10000000000;
  animation: sticky-animate 0.7s ease-in-out;
}

@keyframes sticky-animate {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

.navbar-toggler .navbar-toggler-icon {
  position: relative;
  width: 1.5rem;
  height: 2.55px;
  border-radius: 15px;
}

.navbar-toggler .navbar-toggler-icon::before,
.navbar-toggler .navbar-toggler-icon::after {
  content: "";
  position: absolute;
  right: 0;
  display: block;
  width: 75%;
  height: 100%;
  margin: 0 auto;
  border-radius: inherit;
  background: inherit;
}

.navbar-toggler .navbar-toggler-icon {
  background-color: #3232ff;
}

.navbar-toggler .navbar-toggler-icon::before {
  top: -6px;
}

.navbar-toggler .navbar-toggler-icon::after {
  bottom: -6px;
  opacity: 1;
}

.navbar-toggler .navbar-toggler-icon.collapsed::before,
.navbar-toggler .navbar-toggler-icon.collapsed::after {
  width: 60%;
}

.navbar-toggler .navbar-toggler-icon:hover {
  background-color: #586174 !important;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.explore {
  border: 1px solid #fff;
  padding: 3px;
  border-radius: 50%;
  font-size: 9px !important;
}

/*===================================first-sec===================================*/
.panner-details h2 {
  font-size: 1.6rem;
}

.animated-button,
.animated-button2,
.animated-button3 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 11px 40px;
  webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  font-size: 18px;
  border: none;
  outline: none;
  border: 1px solid transparent;
  cursor: pointer;
  margin: 0 10px;
}

.animated-button:hover {
  color: #3232ff !important;
  background-color: #f6f8ff !important;
  border-color: #3232ff;
}

.animated-button2:hover {
  color: #f6f8ff !important;
  background-color: #3232ff !important;
}

.animated-button i,
.animated-button2 i,
.animated-button3 i {
  margin-left: 15px;
  font-size: 13px;
  transition: all 0.3s linear;
}

.animated-button:hover i,
.animated-button3:hover i {
  transform: rotate(360deg);
  border-color: #3232ff;
}

.img-cart img {
  width: 90px !important;
  height: 90px;
}

.img-center .imgscreen {
  box-shadow: rgba(50, 50, 93, 0.1) 0px 50px 50px 0px, rgba(0, 0, 0, 0.1) 0px 50px 50px 0px;
  border-radius: 60px;
  object-fit: contain;
}

/* .img-center {
  transform: rotate(25deg);
} */

.img-center .img1,
.img-center .img2,
.img-center .img3,
.img-center .img4 {
  position: absolute;
  width: 100%;
}

/* .img-center .img1 {
  top: 1%;
  left: 55%;
} */

/* .img-center .img2 {
  top: 31%;
  right: 68%;
} */

/* .img-center .img3 {
  bottom: 28%;
  left: 61%;
} */

/* .img-center .img4 {
  bottom: 18%;
  right: 68%;
} */

.img-main-introduction .screen1,
.img-main-introduction .screen2,
.img-main-introduction .screen3,
.img-doc img {
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.img-main-introduction .img1 {
  border-radius: 53px;
  width: 310px;
  border-radius: 15px;
}

.img-main-introduction .screen1 {
  position: absolute;
  width: 290px;
  top: 21%;
  left: 3%;
  border-radius: 15px;
}

.img-main-introduction .screen2 {
  position: absolute;
  width: 265px;
  bottom: 21%;
  left: 5%;
  border-radius: 15px;
}

.img-main-introduction .water-img {
  position: absolute;
  width: 110px;
  top: -80px;
  right: 25px;
  border-radius: 15px;
}

.img-main-introduction .screen3 {
  position: absolute;
  width: 255px;
  bottom: 26%;
  right: 10%;
  border-radius: 15px;
}

.img-main-introduction .into2 {
  position: absolute;
  width: 270px;
  top: 115px;
  left: 60px;
  border-radius: 15px;
}

/*===============================work-sec=========================*/
.fill {
  width: fit-content;
  font-size: 80px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #a5b5bb;
  position: absolute;
  font-family: "bold";
  bottom: 1%;
  left: 10%;
}

.bg-works2 {
  background-color: #191c1f;
}

.answer-works {
  height: 570px;
  overflow: hidden;
}

/*========track-sec====================*/
.track-sec .img-track,
.track-sec .img-trackhover {
  width: 320px;
  height: 300px;
}

.div-imghoverm2 .img-motivatehover,
.img-motivate {
  width: 280px;
  height: 250px;
}

.div-imghoverm .img-motivatehover {
  width: 280px;
  height: 420px;
}

.img-static {
  width: 310px;
}

.img-static,
.div-imghoverm .img-motivatehover,
.div-imghoverm2 .img-motivatehover,
.img-motivate,
.track-sec .img-track,
.track-sec .img-trackhover {
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  border-radius: 15px;
}

.img-motivationmain,
.div-imghoverm2,
.div-imghoverm,
.div-imghover,
.img-trackmain,
.div-imghover2,
.div-imghoverr,
.div-imghoverr2,
.img-trackmainnft,
.div-imghovernf,
.div-imghovernf2,
.div-imghovernf3 {
  position: absolute;
}

.img-motivationmain {
  transform: translate(11%, 46%);
}

.div-imghoverm2 {
  transform: translate(40%, 65%);
}

.div-imghoverm {
  transform: translate(90%, 13%);
}

.div-imghover {
  transform: translate(36%, 36%);
}

.img-trackmain {
  transform: translate(10%, 20%);
}

.div-imghover2 {
  transform: translate(62%, 50%);
}

.div-imghoverr {
  transform: translate(20%, 30%);
}

.div-imghoverr2 {
  transform: translate(65%, 44%);
}

.img-trackmainnft {
  transform: translate(17%, 15%);
}

.div-imghovernf {
  transform: translate(45%, 35%);
}

.div-imghovernf2 {
  transform: translate(72%, 57%);
}

.div-imghovernf3 {
  bottom: 13%;
  left: 10%;
  z-index: 12;
}

.wallet-sec img,
.game-sec img {
  object-fit: cover;
}

.all-track {
  padding: 50px;
  border-radius: 30px;
  background-color: #ecefff;
}

.all-track.default-bg {
  padding-inline-start: 85px;
  padding-inline-end: 85px;
}

.all-track.nft {
  padding-inline-start: 80px;
  padding-inline-end: 80px;
}

.all-track .div-i {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 53px;
  border-radius: 6px;
  margin-inline-end: 26px;
}

.all-img-track:hover .div-imghover {
  transform: translate(62%, 50%);
  z-index: 10;
}

.all-img-track:hover .div-imghover2 {
  transform: translate(10%, 20%);
  z-index: 2;
}

.all-img-track:hover .img-trackmain {
  transform: translate(36%, 36%);
  z-index: 6;
}

.active-hover-sm .div-imghover,
.active-hover-sm .div-imghover2,
.active-hover-sm .img-trackmain,
.active-hover-sm .div-imghoverr,
.active-hover-sm .div-imghoverr2,
.active-hover-sm .img-motivationmain,
.active-hover-sm .div-imghoverm2,
.active-hover-sm .div-imghoverm,
.active-hover-sm .img-trackmainnft,
.active-hover-sm .div-imghovernf,
.active-hover-sm .div-imghovernf2,
.active-hover-sm .mobile-img {
  transition: all 1s ease-in-out;
}


.all-img-track {
  padding-top: 50px;
}

/* .div-imghover:hover{
  transform: translate(40%, 50%);
  z-index: 10;
}
.all-img-track .div-imghover:hover  .div-imghover2{
  transform: translate(20%, 36%);
  z-index: 6;
} */

.all-img-track:hover .div-imghoverr {
  transform: translate(65%, 44%);
  z-index: 6;
}

.all-img-track:hover .div-imghoverr2 {
  transform: translate(20%, 30%);
  z-index: 2;
}

.all-img-track:hover .img-motivationmain {
  z-index: 10;
  transform: translate(40%, 65%);
}

.all-img-track:hover .div-imghoverm2 {
  z-index: 2;
  transform: translate(11%, 46%);
}

.all-img-track:hover .div-imghoverm {
  z-index: 6;
  /* transform: translate(0, 13%); */
}

.all-img-track:hover .img-trackmainnft {
  transform: translate(45%, 35%);
  z-index: 6;
}

.all-img-track:hover .div-imghovernf {
  transform: translate(72%, 57%);
  z-index: 10;
}

.all-img-track:hover .div-imghovernf2 {
  transform: translate(17%, 15%);
  z-index: 2;
}

.app-sec .track p {
  color: #8c8e8f;
}

.app-sec .track {
  background-color: #191c1f;
  border-radius: 20px;
}

/*===================app-sec=======================*/

.app-sec .mobile-img {
  width: 400px;
}

.app-sec .app-i {
  margin-inline-end: 25px;
  display: inline-flex;
  background-color: #264ffb;
  border-radius: 50%;
  width: 75px;
  align-items: center;
  justify-content: center;
  height: 75px;
}

.app-sec .app-i img {
  width: 35px !important;
}

.img-frame .mob-img1 {
  width: 200px;
}

.div-img2,
.div-img3 {
  position: absolute;
}

.div-img2 {
  top: -14px;
  right: 120px;
  transition: all 1s ease-in-out;
}

.div-img3 {
  bottom: -16px;
  left: 105px;
  transition: all 1s 0.5s ease-in-out;
}

.img-frame .mob-img2 {
  /* position: absolute;
    top: -25px;
    right: 78px; */
  width: 155px;
  border-radius: 35px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  transition: all 0.5s ease-in-out;
}

.img-frame .mob-img3 {
  /* position: absolute;
    left: 65px; */
  width: 155px;
  /* top: 160px; */
  border-radius: 35px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  transition: all 0.5s 0.2s ease-in-out;
}

.all-mob:hover .mob-img2,
.all-mob:hover .mob-img3 {
  width: 165px;
}

.all-mob:hover .div-img3 {
  left: 207px;
  bottom: 53px;
}

.all-mob:hover .div-img2 {
  top: 66px;
  right: 215px;
}

.frame-i,
.frame-i2 {
  outline: none;
  border-radius: 50%;
  background-color: #c0cbff;
  color: #ecefff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  position: absolute;
  width: 55px;
  height: 55px;
  right: 2px;
  bottom: -16%;
  transition: transform 0.25s;
  z-index: 10;
}

.frame-i:hover,
.frame-i2:hover {
  text-decoration: none;
  background: #fff;
  color: #3232ff;
}

.frame-i.active,
.frame-i2.active {
  background: #fff;
  color: #3232ff;
  transform: rotate(135deg);
  transition: transform 0.5s;
}

.overlay-contact2 p {
  color: #fff !important;
}

.overlay-contact,
.overlay-contact2 {
  position: absolute;
  overflow: hidden;
  inset: 0;
  transform: translateY(20px);
  transition: all 0.5s;
  visibility: hidden;
}

.overlay-contact .content,
.overlay-contact2 .content {
  opacity: 0;
}

.overlay-contact.active,
.overlay-contact2.active {
  display: block;
  visibility: visible;
  transition: all 600ms;
  transform: translateY(0px);
  transition: all 0.5s;
}

.overlay-contact.active .content,
.overlay-contact2.active .content {
  position: relative;
  z-index: 1;
  opacity: 1;
  transition: all 600ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.img-workout {
  width: 282px;
  transform: translate(10px, 0px);
  border-radius: 35px;
  transition: all 1s ease-in-out;
}

.workout-img1 {
  width: 275px;
  position: absolute;
  transform: translate(-120px, 150px);
  transition: all 1s 0.5s ease-in-out;
}

.all-wokout:hover .img-workout {
  transform: translate(38%, 0px);
}

.all-wokout:hover .workout-img1 {
  transform: translate(-276px, 150px);
}

.mobile-img:hover {
  animation: shake 1s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

/*======================ask-sec=========================*/
.all-accord {
  width: 635px;
}

.accordion-item {
  background-color: transparent;
  border: none;
}

.accordion-button {
  font-family: "bold";
  padding: 1.5rem 0;
  font-size: 20px;
  color: #fff;
  background-color: transparent;
  border-top: 1px solid #232323;
}

.accordion-button:not(.collapsed) {
  color: #fff;
  background-color: transparent;
  box-shadow: none;
  border-top: 1px solid #525252;
}

.accordion-button:focus {
  z-index: 3;
  border-color: #525252;
  outline: 0;
  box-shadow: none;
}

.accordion-body {
  padding: 0;
  margin-bottom: 25px;
  color: #d9d9d9;
  font-size: 17px;
}

.accordion-button::after {
  margin-left: auto;
  content: "\f067";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  background-image: none;
  transition: transform 0.2s ease-in-out;
  font-size: 14px;
  color: #b2b2b2;
}

.accordion-button:not(.collapsed)::after {
  background-image: none;
  transform: rotate(226deg);
}

.accordion-body ul li {
  list-style: disc;
}

/*=================bedo-sec=================*/
.bedo-coin {
  background-color: #ecefff;
  border-radius: 30px;
  padding: 45px 65px;
}

.bedo-div {
  height: 420px;
}

.bedo-div:hover {
  background-color: #3232ff !important;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.bedo-div .white-hover {
  fill: #3232ff;
  width: 45px;
  height: 45px;
}

.bedo-div .white-hover path {
  fill: #3232ff;
  stroke: #3232ff;
}

.bedo-div:hover .white-hover {
  fill: #fff;
}

.bedo-div:hover path {
  fill: #fff;
  stroke: #fff;
}

.box {
  position: relative;
}

.box-wrap:hover .box {
  transform: scale(0.98);
  box-shadow: none;
  border-radius: 15px;
}

.box-wrap:hover .box:hover {
  transform: scale(1.1);
  background-color: #3232ff !important;
  color: #fff;
  box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.125);
}

.box-wrap:hover .box:hover p,
.box-wrap:hover .box:hover a {
  color: #fff !important;
}

.box-wrap a:hover {
  transform: scale(1) !important;
}

/*============================subscription-sec======================*/
.month-card span,
.month-card2 span,
.month-card3 span {
  line-height: 0.8;
}

.month-div {
  height: 430px;
}

.month-card,
.month-card2,
.month-card3 {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  height: 345px;
  padding: 50px;
  background-color: #fff;
  position: absolute;
  width: 87%;
  z-index: 10;
  overflow: hidden;
}

.month-card {
  border-radius: 0 48px 48px 48px;
  bottom: 10%;
  left: 0;
}

.month-div:hover .month-card {
  bottom: 0;
  left: 2%;
  color: #fff;
}

.month-card2 {
  border-radius: 48px 48px 48px 0;
  top: 6%;
  left: 0;
  width: 90%;
}

.month-div:hover .month-card2 {
  top: 0;
  left: 2%;
  color: #fff;
}

.month-card3 {
  border-radius: 48px 0 48px 48px;
  bottom: 10%;
  right: 0;
}

.month-div:hover .month-card3 {
  bottom: 0;
  right: 2%;
  color: #fff;
}

.hide-card,
.hide-card2,
.hide-card3 {
  position: absolute;
  width: 86%;
  background-color: #3232ff;
  height: 80%;
  z-index: 1;
}

.hide-card {
  top: 0;
  left: 0;
  border-radius: 0 48px 48px 48px;
  transform: matrix(0.99, -0.13, 0.2, 0.98, 33, 15);
}

.month-div:hover .hide-card {
  width: 78%;
  transform: matrix(0.88, -0.28, 0.2, 0.99, 24, 37);
}

.hide-card2 {
  bottom: 9%;
  left: 0;
  border-radius: 48px 48px 48px 0;
  transform: matrix(0.98, 0.2, -0.1, 0.92, 15, 28);
  width: 84%;
}

.month-div:hover .hide-card2 {
  width: 72%;
  transform: matrix(1, 0.25, -0.2, 0.92, 43, 6);
}

.hide-card3 {
  top: 0;
  right: 0;
  border-radius: 0 48px 48px 48px;
  transform: matrix(-0.99, -0.13, -0.2, 0.98, -33, 15);
}

.month-div:hover .hide-card3 {
  width: 69%;
  transform: matrix(-0.99, -0.29, -0.2, 0.99, -43, 41);
}

.z-12 {
  z-index: 12;
}

.blur {
  background: url("../img/bg-blur.png") no-repeat center center;
  background-size: cover;
  overflow: hidden;
  filter: blur(13px);
  position: absolute;
  height: 100%;
  inset: 0;
  opacity: 0;
}

.month-div:hover .blur {
  opacity: 1;
}

/*======================footer======================*/
.left-foot a {
  color: #404041;
}

.left-foot i {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #f7f9fd;
  height: 48px;
  width: 48px;
  border-radius: 50%;
}

.social:hover i {
  background-color: #3232ff;
  color: #f7f9fd;
}

@media (min-width: 992px) {
  header .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.1rem;
    padding-left: 1.1rem;
  }
}

/*=====================top feature===================*/
.work-mode {
  padding: 60px 70px;
  background-color: #ecefff;
  overflow: hidden;
}

.work-mode h3 {
  margin-bottom: 3rem;
}

.img-mode {
  width: 185px;
  margin: auto;
  margin-top: 50px;
}

.wallet-sec ul li,
.game-sec ul li,
.doc-sec ul li {
  list-style: disc;
}

.wallet-img1 {
  width: 75px;
  border-radius: 10px;
  position: absolute;
  top: 10%;
  right: 7%;
}

.wallet-img11 {
  width: 75px;
  border-radius: 10px;
  position: absolute;
  top: 6%;
  right: 14%;
}

img.wallet-img2 {
  border-radius: 10px;
  width: 150px;
  position: absolute;
  left: 0px;
  top: 27%;
}

img.wallet-img22 {
  border-radius: 10px;
  width: 120px;
  position: absolute;
  left: 0px;
  top: 30%;
}

img.wallet-img3 {
  border-radius: 10px;
  width: 145px;
  position: absolute;
  right: 0;
  bottom: 24%;
}

img.wallet-img33 {
  border-radius: 10px;
  width: 100px;
  position: absolute;
  right: 4%;
  bottom: 14%;
}

img.wallet-img4 {
  width: 85px;
  border-radius: 10px;
  position: absolute;
  left: 5%;
  bottom: 29%;
}

img.wallet-img5 {
  width: 160px;
  border-radius: 10px;
  position: absolute;
  right: 3%;
  top: 29%;
}

.wallet-div img,
.wallet-img1,
.wallet-img2,
.wallet-img3,
.work-mode img,
img.wallet-img5,
img.wallet-img4 {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.top-sec img {
  width: 200px !important;
  height: 415px !important;
}

.topanddown:hover .topnMove {
  position: relative;
  animation-name: example;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes example {

  0%,
  100% {
    left: 0px;
    top: 0px;
  }

  50% {
    left: 0px;
    top: 100px;
  }
}

.topanddown .downMove {
  position: relative;
  top: 100px;
}

.topanddown:hover .downMove {
  animation-name: exampleTwo;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes exampleTwo {

  0%,
  100% {
    left: 0px;
    top: 100px;
  }

  50% {
    left: 0px;
    top: 0px;
  }
}

.mission1 {
  border-radius: 25px 0 25px 25px;
}

.mission2 {
  border-radius: 25px;
}

.mission4 {
  border-radius: 25p 25px 25px 0;
}

.second-details h4,
.second-details p {
  color: #586174;
}

.second-details,
.second-details2,
.second-details3 {
  background-color: #ecefff;
}

.second-details:before,
.second-details2:before,
.second-details3::before {
  content: "\f111";
  font-family: "Font Awesome 5 Free";
  position: absolute;
  font-size: 5px;
  color: #264ffb;
  font-weight: 700;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 16px;
  height: 16px;
  border: 1px solid #264ffb;
  border-radius: 50%;
  background-color: #fff;
  z-index: 1;
}

.second-details::after,
.second-details2::after {
  content: " ";
  position: absolute;
  border-right: 1px solid #264ffb;
  height: 155px;
}

.second-details:before {
  left: -5.5%;
  top: 39%;
}

.second-details::after {
  top: 51%;
  left: -4.3%;
}

.second-details2:before,
.second-details3::before {
  right: -4.9%;
  top: 39%;
}

.second-details2::after {
  top: 51%;
  right: -3.5%;
}

.second-details:hover,
.second-details2:hover,
.second-details3:hover {
  background-color: #3232ff;
}

.second-details:hover h4,
.second-details2:hover h4,
.second-details3:hover h4,
.second-details:hover p,
.second-details2:hover p,
.second-details3:hover p,
.second-details:hover strong,
.second-details2:hover strong,
.second-details3:hover strong {
  color: #fff !important;
}

.test-div {
  border: 1px solid #e9ecef;
  border-radius: 12px;
}

.test-div:hover {
  background-color: #3232ff;
  color: #fff;
}

.test-div:hover p {
  color: #fff;
}

.test-div:hover path {
  fill: #fff;
}

.ask-pricy .accordion-button {
  color: #000 !important;
  border-top: 3px solid #f2f6ff;
}

.ask-pricy .accordion-body,
.ask-pricy .accordion-button::after {
  color: #7a7a7a !important;
}

.contact {
  width: 560px;
  margin: auto;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 15px 24px;
  padding: 50px 70px;
  border-radius: 30px;
}

.img-contact {
  width: 90px;
  height: 90px;
  background-color: #ecefff;
  display: flex;
  border-radius: 50%;
  padding: 30px;
  position: absolute;
  top: -9%;
  right: 43%;
}

.contact p {
  color: #999999;
}

.contact span {
  color: #3232ff;
}

.form-control {
  display: flex;
  padding: 0.5rem 1rem;
  font-size: 14px;
  color: #262626;
  border: 1px solid #ece3fc;
  height: 50px;
  border-radius: 12px;
}

.contact textarea {
  resize: none;
  height: 95px;
}

.form-control:focus,
.form-control:hover {
  color: #262626;
  border: 2px solid #3232ff;
  outline: 0;
  box-shadow: none;
}

input::placeholder,
textarea::placeholder {
  color: #cccccc !important;
}

.img-doc img {
  width: 240px;
  border-radius: 30px;
}

.about-sec ul li {
  list-style-type: decimal;
}

.img-doc .doc2 {
  position: absolute;
  width: 37%;
  top: 8%;
  right: 21%;
}

.img-doc .doc1 {
  width: 44%;
  margin: 0 65px;
}

.img-mode img {
  transition: all 1.2s ease-in-out;
}

.img-mode:hover img {
  transform: scale(2) translate(0px, 42%);
}

.left-foot.w-50 a:hover {
  color: #3232ff;
  font-weight: 700;
}

.d-start img {
  object-fit: cover;
}

.answer-works img {
  object-fit: contain;
}



.swiper-slide {
  height: 450px;
}

.br-slide {
  border-radius: 20px 0 0 20px;
}

.br-img {
  border-radius: 0 20px 20px 0;
}

.slider {
  height: 495px;
}

.slider-thumbnail {
  height: 120px;
}

.slider-thumbnail .swiper-wrapper .swiper-slide {
  width: 15%;
  height: 100%;
  overflow: hidden;
  border-radius: 20px;
}



.swiper-button-next,
.swiper-button-prev {
  top: 37%;
  color: #fff;
}



.text-swiper {
  width: 65%;
}

.img-swiper {
  width: 35%;
}
.img-swiper img,
.slider-thumbnail img{
  object-fit: cover;
}



.slider .swiper-slide .overlay{
  inset: 0;
  border-radius: 20px;
  background: #000;
  opacity: .6;
}
.slider-thumbnail .swiper-wrapper .swiper-slide .overlay{
  inset: 0;
  border-radius: 20px;
  background: #000;
  opacity: .4;
}

.slider .swiper-slide.swiper-slide-active  .overlay,
.slider-thumbnail .swiper-wrapper .swiper-slide.swiper-slide-thumb-active .overlay{
  background: transparent;
  opacity: 1;
}
.swiper-button-next:after, .swiper-button-prev:after {
  font-size: 35px;
}

/*=======================media=============================*/
@media (max-width: 1400px) {

  .second-details::after,
  .second-details2::after {
    height: 150px;
  }

  .px-responsive {
    padding: 0 10px;
  }

  .f-3-2-rem {
    font-size: 2.7rem;
  }

  .f-2-7rem {
    font-size: 2.5rem;
  }

  .bedo-div {
    height: 455px;
  }

  .f-20 {
    font-size: 19px;
  }

  .hide-card3 {
    transform: matrix(-0.99, -0.13, -0.2, 0.98, -33, 19);
  }

  .hide-card2 {
    transform: matrix(0.98, 0.2, -0.1, 0.92, 15, 23);
    width: 82%;
  }

  .hide-card {
    transform: matrix(0.99, -0.13, 0.2, 0.98, 33, 19);
  }

  .month-div:hover .hide-card3 {
    transform: matrix(-0.99, -0.29, -0.2, 0.99, -43, 47);
  }

  .month-div:hover .hide-card {
    transform: matrix(0.88, -0.28, 0.2, 0.99, 25, 45);
  }

  .month-div:hover .hide-card2 {
    transform: matrix(1, 0.25, -0.2, 0.92, 43, 0);
  }


  .div-img2 {
    top: -14px;
    right: 80px;
  }

  .h-280 {
    height: 265px;
    padding-top: 40px;
  }

  .div-img3 {
    bottom: -16px;
    left: 64px;
  }

  .all-mob:hover .div-img2 {
    top: 66px;
    right: 172px;
  }

  .all-mob:hover .div-img3 {
    left: 164px;
    bottom: 53px;
  }

  .second-details:before {
    left: -6.6%;
    top: 39%;
  }

  .second-details::after {
    top: 51%;
    left: -5.2%;
  }

  .second-details2:before,
  .second-details3::before {
    right: -5.5%;
    top: 39%;
  }

  .second-details2::after {
    top: 51%;
    right: -4.2%;
  }

  .answer-works {
    height: 585px;
  }

  img.wallet-img2 {
    left: -22px;
  }

  .work-mode h3 {
    margin-bottom: 2rem;
  }

  .f-3-4-rem {
    font-size: 2.8rem;
  }

  .img-mode {
    margin-left: 12rem;
  }

  img.wallet-img22 {
    width: 105px;
  }

  .wallet-img11 {
    width: 65px;
    right: 9%;
  }

  img.wallet-img33 {
    width: 95px;
    right: 0%;
  }

  img.wallet-img4 {
    left: 0%;
  }

  img.wallet-img5 {
    width: 145px;
    right: 0%;
  }

  .img-trackmain {
    transform: translate(2%, 20%);
  }

  .div-imghover {
    transform: translate(25%, 42%);
  }

  .div-imghover2 {
    transform: translate(46%, 64%);
  }

  .all-img-track:hover .div-imghover2 {
    transform: translate(2%, 20%);
  }

  .all-img-track:hover .img-trackmain {
    transform: translate(25%, 42%);
  }

  .all-img-track:hover .div-imghover {
    transform: translate(46%, 64%);
  }

  .all-track.default-bg {
    padding-inline-start: 80px;
    padding-inline-end: 70px;
  }

  .div-imghoverr2 {
    transform: translate(44%, 50%);
  }

  .div-imghoverr {
    transform: translate(15%, 30%);
  }

  .all-img-track:hover .div-imghoverr {
    transform: translate(44%, 50%);
  }

  .all-img-track:hover .div-imghoverr2 {
    transform: translate(15%, 30%);
  }

  .img-motivationmain {
    transform: translate(0%, 46%);
  }

  .div-imghoverm {
    transform: translate(70%, 13%);
  }

  .div-imghoverm2 {
    transform: translate(30%, 65%);
  }

  .all-img-track:hover .div-imghoverm2 {
    transform: translate(0%, 46%);
  }

  .all-img-track:hover .img-motivationmain {
    transform: translate(30%, 65%);
  }

  .all-track.nft {
    padding-inline-start: 70px;
    padding-inline-end: 70px;
  }

  .img-trackmainnft {
    transform: translate(10%, 15%);
  }

  .div-imghovernf {
    transform: translate(29%, 35%);
  }

  .div-imghovernf2 {
    transform: translate(48%, 57%);
  }

  .div-imghovernf3 {
    bottom: 20%;
  }

  .all-img-track:hover .div-imghovernf2 {
    transform: translate(10%, 15%);
  }

  .all-img-track:hover .img-trackmainnft {
    transform: translate(29%, 35%);
  }

  .all-img-track:hover .div-imghovernf {
    transform: translate(48%, 57%);
  }
}

@media (max-width: 1200px) {


  .img-swiper {
    width: 40%;
}
.text-swiper {
  width: 60%;
}
.swiper-button-next:after, .swiper-button-prev:after {
  font-size: 30px;
}




  .f-3-1-rem {
    font-size: 2.5rem;
  }

  .f-17 {
    font-size: 15px;
  }

  .f-14 {
    font-size: 13px;
  }

  .w-38 {
    width: 38%;
  }


  .img-cart img {
    width: 75px !important;
    height: 75px;
  }

  .all-track .f-18 {
    font-size: 18px;
  }

  .f-1-5-rem {
    font-size: 1.3rem;
  }

  .f-18 {
    font-size: 20px;
  }

  .bedo-div {
    height: 500px;
  }


  .h-710 {
    height: 844px;
  }

  .h-300 {
    height: 410px;
  }

  .all-track.default-bg {
    padding-inline-start: 70px;
    padding-inline-end: 70px;
  }

  .div-imghoverr2 {
    transform: translate(42%, 50%);
  }

  .img-motivationmain {
    transform: translate(2%, 46%);
  }

  .div-imghoverm {
    transform: translate(63%, 13%);
  }

  .div-imghoverm2 {
    transform: translate(24%, 65%);
  }

  .second-details::after {
    left: -5.2%;
  }

  .h-385 {
    height: 260px;
  }

  .h-260 {
    height: 200px;
  }

  .f-2-7rem {
    font-size: 2.3rem;
  }

  .p-30 {
    padding: 30px !important;
  }

  .img-center .imgscreen {
    border-radius: 35px;
  }

  .w-400 {
    width: 100%;
  }

  .h-280 {
    height: 210px;
    padding-top: 30px;
  }

  .img-doc .doc1 {
    width: 50%;
    margin: 0px 40px;
  }

  .img-doc .doc2 {
    width: 42%;
    right: 14%;
  }

  .img-doc img {
    width: 205px;
    border-radius: 30px;
  }

  .pricy-sec .title {
    margin-bottom: 0 !important;
  }

  .second-details:before {
    left: -7%;
  }

  .ask-pricy.p-100 {
    padding-top: 30px;
    padding-bottom: 50px;
  }

  .second-details2:before,
  .second-details3::before {
    right: -7.2%;
  }

  .second-details2::after {
    right: -6%;
  }

  .top-sec img {
    width: 100% !important;
    height: 360px !important;
    padding: 0 10px;
    object-fit: contain;
  }

  .w-185 {
    width: 180px !important;
  }

  img.wallet-img2 {
    width: 120px;
  }

  img.wallet-img3 {
    width: 130px;
    right: -10px;
  }

  .img-mode {
    margin-left: auto;
  }

  .br-30 {
    border-radius: 20px;
  }

  img.wallet-img5 {
    width: 130px;
  }

  img.wallet-img4 {
    width: 79px;
  }

  .panner-details h2 {
    font-size: 1.4rem;
  }

  /* .p-100 {
    padding-top: 80px;
    padding-bottom: 80px;
  } */

  /* .img-center .imgscreen {
    height: 600px;
  } */

  .f-19 {
    font-size: 17px;
  }

  .f-3-4-rem {
    font-size: 2rem;
  }

  .f-3-2-rem {
    font-size: 2.6rem;
  }

  .img-main-introduction .img1 {
    width: 280px;
  }

  .img-main-introduction .screen1 {
    width: 250px;
  }

  .img-main-introduction .screen3,
  .img-main-introduction .into2,
  .img-main-introduction .screen2 {
    width: 210px;
  }

  .img-main-introduction .water-img {
    width: 70px;
    top: -50px;
  }

  .h-750 {
    height: 665px;
  }

  .answer-works {
    height: 485px;
  }

  .fill {
    font-size: 70px;
  }

  .track-sec .img-track,
  .track-sec .img-trackhover {
    width: 270px;
    height: 290px;
  }

  .all-track .div-i {
    margin-inline-end: 15px;
  }

  .div-imghoverm2 .img-motivatehover,
  .img-motivate {
    width: 240px;
  }

  .div-imghoverm .img-motivatehover {
    width: 230px;
  }

  .all-track.nft {
    padding-inline-start: 60px;
    padding-inline-end: 60px;
  }

  .all-img-track:hover .img-motivationmain {
    transform: translate(24%, 65%);
  }

  .all-img-track:hover .div-imghoverm2 {
    transform: translate(2%, 46%);
  }

  .img-trackmainnft {
    transform: translate(10%, 15%);
  }

  .div-imghovernf {
    transform: translate(27%, 35%);
  }

  .div-imghovernf2 {
    transform: translate(46%, 57%);
  }

  .img-static {
    width: 280px;
  }

  .all-img-track:hover .div-imghovernf2 {
    transform: translate(10%, 15%);
  }

  .all-img-track:hover .img-trackmainnft {
    transform: translate(27%, 35%);
  }

  .all-img-track:hover .div-imghovernf {
    transform: translate(46%, 57%);
  }

  .app-sec .mobile-img {
    width: 315px;
  }

  .app-sec .app-i {
    font-size: 2rem;
    margin-inline-end: 15px;
    width: 65px;
    height: 65px;
  }

  .f-1-3-rem {
    font-size: 1.1rem;
  }

  .img-workout {
    width: 250px;
  }

  .workout-img1 {
    width: 260px;
    transform: translate(-120px, 147px);
    height: 75px;
    object-fit: contain;
  }

  .all-wokout:hover .img-workout {
    transform: translate(30%, 0px);
  }

  .all-wokout:hover .workout-img1 {
    transform: translate(-256px, 147px);
  }

  .img-frame .mob-img1 {
    width: 175px;
  }

  .img-frame .mob-img2,
  .img-frame .mob-img3 {
    width: 140px;
  }

  .div-img2 {
    top: -14px;
    right: 50px;
  }

  .div-img3 {
    bottom: -16px;
    left: 40px;
  }

  .all-mob:hover .div-img3 {
    left: 129px;
    bottom: 46px;
  }

  .all-mob:hover .mob-img2,
  .all-mob:hover .mob-img3 {
    width: 145px;
  }

  .all-mob:hover .div-img2 {
    top: 58px;
    right: 136px;
  }

  .left-foot.w-50 {
    width: 100% !important;
  }

  .left-foot i {
    height: 40px;
    width: 40px;
  }

  .left-foot .pe-4 {
    padding-right: 1rem !important;
  }

  .left-foot .me-3 {
    margin-right: 0.6rem !important;
  }

  .f-1-6-rem {
    font-size: 1.3rem;
  }

  .f-25 {
    font-size: 22px;
  }

  .month-card,
  .month-card2,
  .month-card3 {
    height: 330px;
    padding: 30px;
  }

  .f-1-9-rem {
    font-size: 1.5rem;
  }

  .f-20 {
    font-size: 17px;
  }

  .f-2-5-rem {
    font-size: 2rem;
  }

  .hide-card {
    transform: matrix(0.99, -0.13, 0.2, 0.98, 33, 10);
  }

  .hide-card,
  .hide-card2,
  .hide-card3 {
    width: 85%;
    height: 75%;
  }

  .hide-card2 {
    bottom: 13%;
    transform: matrix(1, 0.2, 0, 0.92, 0, 44);
  }

  .hide-card3 {
    transform: matrix(-0.99, -0.13, -0.2, 0.98, -33, 10);
  }

  .month-div {
    height: 400px;
  }

  .month-div:hover .hide-card3 {
    width: 67%;
    transform: matrix(-0.99, -0.29, -0.2, 0.99, -38, 39);
  }

  .month-div:hover .hide-card2 {
    width: 67%;
    transform: matrix(1, 0.28, -0.2, 0.92, 37, 23);
  }

  .month-div:hover .hide-card {
    width: 77%;
    transform: matrix(0.88, -0.28, 0.2, 0.99, 23, 36);
  }


  .display-block {
    display: block !important;
  }

  .display-block .ms-0 {
    margin-left: 10px !important;
  }

  .bedo-coin {
    padding: 50px !important;
  }

  .f-2-1-rem {
    font-size: 1.6rem;
  }

  .f-1-5-rem {
    font-size: 1.2rem;
  }
}

@media (max-width: 992px) {

  .slider-thumbnail .swiper-wrapper .swiper-slide {
    width: 20%;

}
.swiper-button-next:after, .swiper-button-prev:after {
  font-size: 25px;
}



  .display-block-m {
    display: block !important;
  }


  .w-38 {
    width: 100%;
  }

  .work-mode {
    padding: 46px;
  }

  .img-mode {
    margin-top: 0;
  }

  .active .blur {
    opacity: 1;
  }

  .bedo-div {
    height: 430px;
  }

  .img-center .imgscreen {
    border-radius: 50px;
  }

  .h-710 {
    height: auto;
  }

  .h-300 {
    height: auto;
  }

  .active .month-card {
    bottom: 0;
    left: 2%;
    color: #fff;
  }

  .active .month-card2 {
    top: 0;
    left: 2%;
    color: #fff;
  }

  .active .month-card3 {
    bottom: 0;
    right: 2%;
    color: #fff;
  }

  .all-track {
    padding: 30px 50px;
  }

  .img-cart img {
    width: 85px !important;
    height: 85px;
  }

  .f-1-7-rem {
    font-size: 1.3rem;
  }

  .h-280 {
    height: 190px;
    padding-top: 15px;
  }

  .answer-works {
    height: 530px;
  }

  .h-385 {
    height: 225px;
  }

  .h-260 {
    height: 185px;
  }

  .all-img-track {
    padding-top: 0px;
  }

  .img-doc img {
    width: 85%;
  }

  .img-doc .w-75 {
    width: 100% !important;
  }

  .img-doc .doc1 {
    width: 60%;
    margin: 0px;
  }

  .img-doc .doc2 {
    width: 52%;
    right: 7%;
  }

  .second-details:before {
    left: -10%;
    top: 30%;
  }

  .active .mobile-img {
    animation: shake 1s;
    animation-iteration-count: 3;
  }

  .second-details2:before,
  .second-details3::before {
    right: -7.3% !important;
  }

  .second-details::after,
  .second-details2::after {
    height: 200px;
  }

  .second-details2:before,
  .second-details3::before {
    right: -10% !important;
    top: 31%;
  }

  .second-details2::after {
    right: -8%;
    top: 39.5%;
  }

  .second-details::after {
    left: -7.2%;
    top: 39%;
  }

  header {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .sticky-navbar {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .d-none992 {
    display: none;
  }

  .wallet-sec .w-50 {
    width: 100% !important;
  }

  .left-foot {
    padding-bottom: 15px;
  }

  .left-foot i {
    height: 45px;
    width: 45px;
  }

  .left-foot .border-l {
    margin-bottom: 15px;
  }

  img.wallet-img2 {
    left: 0px;
  }

  .mb-25 {
    margin-bottom: 25px;
  }

  .f-3-4-rem {
    font-size: 2rem;
  }

  .left-foot .me-3 {
    margin-right: 1rem !important;
  }

  .left-foot i {
    font-size: 17px;
  }

  .w-180 {
    width: 180px !important;
  }

  .center {
    text-align: center;
  }

  .start-sec p {
    margin-bottom: 15px;
  }

  .month-div {
    margin-bottom: 20px;
  }

  .hide-card,
  .hide-card2,
  .hide-card3 {
    height: 80%;
  }

  .active .month-card2 {
    top: 0;
    left: 2%;
    color: #fff;
  }

  .active .month-card3 {
    bottom: 0;
    right: 2%;
    color: #fff;
  }

  .hide-card {
    transform: matrix(0.99, -0.13, 0.2, 0.98, 33, 8);
  }

  .hide-card2 {
    transform: matrix(1, 0.2, -0.2, 0.98, 35, 39);
  }

  .hide-card3 {
    transform: matrix(-0.99, -0.13, -0.2, 0.98, -33, 8);
  }

  .month-div:hover .hide-card {
    width: 77%;
    transform: matrix(0.88, -0.28, 0.2, 0.99, 23, 32);

  }

  .month-div:hover .hide-card2 {
    transform: matrix(1, 0.28, -0.2, 0.98, 40, 19);
    width: 71%;
  }

  .month-div:hover .hide-card3 {
    transform: matrix(-0.99, -0.29, -0.2, 0.99, -38, 35);
  }

  .active .hide-card {
    width: 77%;
    transform: matrix(0.88, -0.28, 0.2, 0.99, 23, 32);
  }

  .active .hide-card2 {
    transform: matrix(1, 0.28, -0.2, 0.98, 40, 19);
    width: 71%;
  }

  .active .hide-card3 {
    transform: matrix(-0.99, -0.29, -0.2, 0.99, -38, 35);
  }

  .img-workout {
    transform: translate(30%, 0px);
  }

  .all-wokout:hover .img-workout {
    transform: translate(70%, 0px);
  }

  .active .img-workout {
    transform: translate(70%, 0px);
  }

  .active .workout-img1 {
    transform: translate(-256px, 147px);
  }


  .div-img2 {
    top: -6%;
    right: 26%;
  }

  .div-img3 {
    bottom: -9%;
    left: 24%;
  }

  .all-mob:hover .div-img2 {
    top: 20.9%;
    right: 39.5%;
  }

  .active .div-img2 {
    top: 20.9%;
    right: 39.5%;
  }


  .all-mob:hover .div-img3 {
    left: 38%;
    bottom: 16.7%;
  }

  .active .div-img3 {
    left: 38%;
    bottom: 16.7%;
  }

  .all-img-track {
    height: 450px !important;
  }

  .img-trackmainnft {
    transform: translate(28%, 8%);
  }

  .div-imghovernf {
    transform: translate(53%, 30%);
  }

  .div-imghovernf2 {
    transform: translate(80%, 53%);
  }

  .div-imghovernf3 {
    bottom: 4%;
    left: 13%;
  }

  .all-img-track:hover .img-trackmainnft {
    transform: translate(53%, 30%);
  }

  .all-img-track:hover .div-imghovernf {
    transform: translate(80%, 53%);
  }

  .all-img-track:hover .div-imghovernf2 {
    transform: translate(28%, 8%);
  }

  .active .img-trackmainnft {
    transform: translate(53%, 30%);
    z-index: 6;
  }

  .active .div-imghovernf {
    transform: translate(80%, 53%);
    z-index: 10;
  }

  .active .div-imghovernf2 {
    transform: translate(28%, 8%);
  }

  .div-imghoverm {
    transform: translate(115%, 0%);
  }

  .div-imghoverm2 {
    transform: translate(65%, 43%);
  }

  .img-motivationmain {
    transform: translate(33%, 23%);
  }

  .all-img-track:hover .img-motivationmain {
    transform: translate(65%, 43%);
  }

  .all-img-track:hover .div-imghoverm2 {
    transform: translate(33%, 23%);

  }

  .active .img-motivationmain {
    transform: translate(65%, 43%);
    z-index: 10;
  }

  .active .div-imghoverm2 {
    transform: translate(33%, 23%);
    z-index: 2;
  }

  .active .div-imghoverm {
    z-index: 6;
  }

  .img-trackmain {
    transform: translate(30%, 10%);
  }

  .div-imghover {
    transform: translate(57%, 26%);
  }

  .div-imghover2 {
    transform: translate(90%, 40%);
  }

  .all-img-track:hover .img-trackmain {
    transform: translate(57%, 26%);
  }

  .active .img-trackmain {
    transform: translate(57%, 26%);
    z-index: 6;
  }

  .all-img-track:hover .div-imghover {
    transform: translate(90%, 40%);
  }

  .active .div-imghover {
    transform: translate(90%, 40%);
    z-index: 10;
  }

  .all-img-track:hover .div-imghover2 {
    transform: translate(30%, 10%);
  }

  .active .div-imghover2 {
    transform: translate(30%, 10%);
    z-index: 2;
  }

  .f-3-2-rem {
    font-size: 2.3rem;
  }

  .f-25 {
    font-size: 20px;
  }

  .title,
  .title h2 {
    margin-bottom: 25px !important;
  }

  .div-imghoverr {
    transform: translate(35%, 20%);
  }

  .div-imghoverr2 {
    transform: translate(70%, 36%);
  }

  .all-img-track:hover .div-imghoverr {
    transform: translate(70%, 36%);
  }

  .all-img-track:hover .div-imghoverr2 {
    transform: translate(35%, 20%);
  }

  .active .div-imghoverr {
    transform: translate(70%, 36%);
    z-index: 6;
  }

  .active .div-imghoverr2 {
    transform: translate(35%, 20%);
    z-index: 2;
  }

  .app-sec .app-i {
    font-size: 1.5rem;
    width: 55px;
    height: 55px;
  }

  .f-1-3-rem {
    font-size: 1rem;
  }

  .f-3-1-rem {
    font-size: 2.1rem;
  }

  .panner-details.p-100 {
    padding-top: 60px;
    padding-bottom: 50px;
  }

  .panner-details h1 {
    padding-bottom: 1.5rem !important;
  }

  .media .col-lg-8 {
    order: 1;
  }

  .order1 {
    order: -1;
  }

  .h-750 {
    height: auto;
  }

  .media .p-5 {
    padding: 2rem !important;
  }

  .media .col-lg-4 {
    margin-bottom: 25px;
  }

  .img-center {
    width: 350px;
    margin: auto;
    margin-bottom: 5rem;
  }

  /* 
  .img-center .imgscreen {
    height: 650px;
  } */

  .img-main-introduction .into2 {
    top: 95px;
  }

  .active .img-center .img1 {
    width: 80% !important;
  }

  .bedo-sec .display-block {
    display: flex !important;
    width: 100%;
    margin-top: 2rem !important;
    margin-bottom: 1rem;
  }

  .bedo-sec .display-block .animated-button {
    width: 50%;
  }
}

@media (max-width: 767px) {
  .img-mode img {
    margin-top: 10px;
  }

  .px-responsive {
    padding: 0 85px;
  }


  .mission1,
  .mission2,
  .mission4 {
    padding-top: 25px;
  }

  .bedo-div {
    height: auto;
  }

  .h-385 {
    height: 100%;
  }

  .h-260 {
    height: 200px;
  }

  .img-trackmain {
    transform: translate(0%, 10%);
  }

  .div-imghover {
    transform: translate(31%, 26%);
  }

  .div-imghover2 {
    transform: translate(60%, 40%);
  }

  .all-img-track:hover .div-imghover {
    transform: translate(60%, 40%);
  }

  .all-img-track:hover .div-imghover2 {
    transform: translate(0%, 10%);
  }

  .all-img-track:hover .img-trackmain {
    transform: translate(31%, 26%);
  }

  .active .div-imghover {
    transform: translate(60%, 40%);
  }

  .active .div-imghover2 {
    transform: translate(0%, 10%);
  }

  .active .img-trackmain {
    transform: translate(31%, 26%);
  }

  .div-imghoverr2 {
    transform: translate(43%, 36%);
  }

  .fill {
    font-size: 65px;
  }

  .topanddown .downMove {
    top: 50px;
  }

  @keyframes example {

    0%,
    100% {
      left: 0px;
      top: 0px;
    }

    50% {
      left: 0px;
      top: 50px;
    }
  }

  @keyframes exampleTwo {

    0%,
    100% {
      left: 0px;
      top: 50px;
    }

    50% {
      left: 0px;
      top: 0px;
    }
  }

  .second-details,
  .second-details2,
  .second-details3 {
    margin-inline-end: 0 !important;
    margin-inline-start: 30px !important;
  }

  .doc-sec h3 {
    margin-bottom: 25px !important;
  }

  .doc-sec h4 {
    margin-bottom: 35px !important;
  }

  .img-doc img {
    width: 50%;
  }

  .img-doc .w-75 {
    width: 60% !important;
    margin-bottom: 40px;
  }

  .img-doc .doc1 {
    width: 50%;
    margin: 0px 35px;
    margin-bottom: 35px;
  }

  .img-doc .doc2 {
    width: 45%;
    right: 12%;
    top: 5%;
  }

  .img-main-introduction .screen1,
  .img-main-introduction .screen2,
  .img-main-introduction .screen3,
  .img-doc img {
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
      rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 18px 33px -35px;
  }

  .second-details:before {
    left: -6%;
    top: 44%;
  }

  .second-details::after {
    left: -4.5%;
    top: 56%;
  }

  .second-details2:before,
  .second-details3::before {
    left: -6% !important;
    top: 45%;
    right: unset !important;
  }

  .second-details::after,
  .second-details2::after {
    height: 155px;
  }

  .second-details2::after {
    left: -4.5%;
    top: 56.5%;
    right: unset;
  }

  .f-3-1-rem {
    font-size: 1.7rem;
  }

  header .navbar-brand img {
    width: 90px;
  }

  header .navbar .nav-link {
    font-size: 15px;
  }

  header .navbar .nav-link:focus,
  header .navbar .nav-link:hover,
  header .navbar .nav-link.active {
    font-size: 16px;
  }

  img.wallet-img22 {
    left: 20%;
  }

  .wallet-img11 {
    right: 25%;
  }

  img.wallet-img33 {
    right: 20%;
  }

  .d-none767 {
    display: none;
  }

  .sticky-navbar {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
  }

  .top-sec img {
    height: 300px !important;
  }

  .wallet-div img {
    width: 180px !important;
    margin-bottom: 25px;
  }

  .mb-20s {
    margin-bottom: 20px;
  }

  .f-3-4-rem {
    font-size: 2.1rem;
    margin-bottom: 30px;
  }

  img.wallet-img4 {
    left: 18%;
    bottom: 35%;
  }

  img.wallet-img5 {
    width: 170px;
    right: 12%;
  }

  .work-mode h3 {
    margin-bottom: 1.7rem;
  }

  img.wallet-img2 {
    left: 15%;
  }

  img.wallet-img3 {
    right: 12%;
  }

  .bedo-first .col-md-7 {
    order: 1;
    margin-top: 20px;
    text-align: center;
  }

  .box-wrap:hover .box:hover {
    transform: scale(1);
  }

  .panner-details h2 {
    font-size: 1.1rem;
  }

  .animated-button {
    padding: 11px 25px;
  }

  .img-center {
    width: 310px;
    margin-bottom: 4rem;
  }



  .tech-text1,
  .tech-text2,
  .tech-text3,
  .tech-text4 {
    margin-bottom: 20px !important;
  }

  .img-cart img {
    width: 80px !important;
    height: 80px;
  }

  .w-250 {
    width: 100% !important;
  }

  .f-3-2-rem {
    font-size: 2rem;
  }

  .img-main-introduction .img1 {
    width: 280px;
  }

  .img-main-introduction .screen3,
  .img-main-introduction .into2,
  .img-main-introduction .screen2 {
    width: 180px;
  }

  .img-main-introduction .screen1 {
    width: 230px;
    left: 1%;
  }

  .img-main-introduction .water-img {
    width: 60px;
    top: -39px;
  }

  .img-main-introduction .screen3 {
    bottom: 31%;
  }

  .img-main-introduction .into2 {
    top: 82px;
  }

  .img-main-introduction .screen2 {
    left: 1%;
  }

  .answer-works {
    height: 460px;
    text-align: center;
  }

  .answer-works img {
    width: 300px !important;
  }

  .all-track {
    padding: 40px;
  }

  .all-accord {
    width: 100%;
  }

  .left-foot {
    flex-wrap: wrap;
  }

  .f-1-6-rem {
    font-size: 1.2rem;
  }

  .f-25 {
    font-size: 19px;
  }

  .all-accord h4 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }

  .accordion-button {
    padding: 1.2rem 0;
    font-size: 18px;
  }

  .accordion-body {
    font-size: 16px;
  }

  .month-card {
    bottom: 6%;
  }

  .hide-card {
    transform: matrix(0.99, -0.13, 0.2, 0.98, 33, 14);
  }

  .hide-card2 {
    transform: matrix(1, 0.1, -0.2, 0.98, 32, 32);
    width: 88%;
  }

  .month-div:hover .hide-card {
    width: 85%;
    transform: matrix(0.87, -0.19, 0.2, 0.99, 15, 26);
  }

  .month-div:hover .hide-card2 {
    transform: matrix(1, 0.2, -0.2, 0.92, 43, 33);
    width: 75%;
  }

  .active .hide-card {
    width: 85%;
    transform: matrix(0.87, -0.19, 0.2, 0.99, 15, 26);
  }

  .active .hide-card2 {
    transform: matrix(1, 0.2, -0.2, 0.92, 43, 33);
    width: 75%;
  }

  .month-card3 {
    bottom: 6%;
  }

  .hide-card3 {
    transform: matrix(-0.99, -0.1, -0.2, 0.98, -33, 20);
  }

  .month-div:hover .hide-card3 {
    transform: matrix(-0.99, -0.2, -0.2, 0.99, -41, 29);
    width: 75%;
  }

  .active .hide-card3 {
    transform: matrix(-0.99, -0.2, -0.2, 0.99, -41, 29);
    width: 75%;
  }

  .div-img2 {
    right: 17%;
  }

  .div-img3 {
    left: 14%;
  }

  .all-mob:hover .div-img2 {
    right: 35.5%;
  }

  .all-mob:hover .div-img3 {
    left: 34%;
  }

  .active .div-img2 {
    right: 35.5%;
  }

  .active .div-img3 {
    left: 34%;
  }

  .img-workout {
    transform: translate(10%, 0px);
  }

  .all-wokout:hover .img-workout {
    transform: translate(40%, 0px);
  }

  .active .img-workout {
    transform: translate(40%, 0px);
  }

  .mobile-desplay .d-flex {
    margin-bottom: 15px;
  }

  .app-sec .mobile-img {
    margin-bottom: 35px;
  }

  .app-details {
    text-align: center;
  }

  .img-trackmainnft {
    transform: translate(0%, 5%);
  }

  .div-imghovernf {
    transform: translate(28%, 25%);
  }

  .div-imghovernf2 {
    transform: translate(54%, 49%);
  }

  .div-imghovernf3 {
    bottom: 7%;
    left: 2%;
  }

  .all-img-track:hover .div-imghovernf2 {
    transform: translate(0%, 5%);
  }

  .all-img-track:hover .img-trackmainnft {
    transform: translate(28%, 25%);
  }

  .all-img-track:hover .div-imghovernf {
    transform: translate(54%, 49%);
  }

  .div-imghoverr {
    transform: translate(10%, 20%);
  }

  .all-img-track:hover .div-imghoverr2 {
    transform: translate(10%, 20%);
  }



  .active .div-imghovernf2 {
    transform: translate(0%, 5%);
  }

  .active .img-trackmainnft {
    transform: translate(28%, 25%);
  }

  .active .div-imghovernf {
    transform: translate(54%, 49%);
  }

  .active .div-imghoverr2 {
    transform: translate(10%, 20%);
  }

  .all-track.nft {
    padding-inline-start: 50px;
    padding-inline-end: 50px;
  }

  .all-track.default-bg {
    padding-inline-start: 50px;
    padding-inline-end: 50px;
  }


  .all-img-track:hover .div-imghoverr {
    transform: translate(43%, 36%);
  }

  .img-motivationmain {
    transform: translate(0%, 23%);
  }

  .div-imghoverm2 {
    transform: translate(28%, 43%);
  }

  .div-imghoverm {
    transform: translate(88%, 0%);
  }

  .all-img-track:hover .div-imghoverm2 {
    transform: translate(0%, 23%);
  }

  .all-img-track:hover .img-motivationmain {
    transform: translate(28%, 43%);
  }


  .active .div-imghoverr {
    transform: translate(43%, 36%);
  }

  .active .div-imghoverm2 {
    transform: translate(0%, 23%);
  }

  .active .img-motivationmain {
    transform: translate(28%, 43%);
  }

  .f-1-5-rem {
    font-size: 1.2rem;
  }

  .f-18 {
    font-size: 16px;
  }

  .img-center .imgscreen {
    border-radius: 50px;
  }

  .contact {
    width: 480px;
    padding: 45px;
    border-radius: 25px;
  }
}

@media (max-width: 510px) {
  .f-3-4-rem {
    font-size: 2rem;
    margin-bottom: 30px;
  }

  .slider-thumbnail .swiper-wrapper .swiper-slide {
    width: 25%;
}

  .px-responsive {
    padding: 0 65px;
  }

  .div-imghover {
    transform: translate(37%, 26%);
  }

  .div-imghover2 {
    transform: translate(74%, 40%);
  }

  .all-img-track:hover .img-trackmain {
    transform: translate(37%, 26%);
  }

  .all-img-track:hover .div-imghover {
    transform: translate(74%, 40%);
  }

  .div-imghoverr2 {
    transform: translate(55%, 36%);
  }

  .all-img-track:hover .div-imghoverr {
    transform: translate(55%, 36%);
  }

  .div-imghoverm {
    transform: translate(91%, 0%);
  }

  .img-motivationmain {
    transform: translate(0%, 32%);
  }

  .div-imghoverm2 {
    transform: translate(35%, 59%);
  }

  .all-img-track:hover .img-motivationmain {
    transform: translate(35%, 59%);
  }

  .all-img-track:hover .div-imghoverm2 {
    transform: translate(0%, 32%);
  }




  .aactive .img-trackmain {
    transform: translate(37%, 26%);
  }

  .aactive .div-imghover {
    transform: translate(74%, 40%);
  }

  .aactive .div-imghoverr {
    transform: translate(55%, 36%);
  }

  .aactive .img-motivationmain {
    transform: translate(35%, 59%);
  }

  .aactive .div-imghoverm2 {
    transform: translate(0%, 32%);
  }

  .answer-works img {
    width: 245px !important;
  }

  .contact {
    width: 100%;
  }

  .p-100 {
    padding-top: 45px;
    padding-bottom: 45px;
  }

  .wallet-sec.p-100 {
    padding-top: 60px !important;
  }

  .top-sec.p-100 {
    padding-bottom: 10px !important;
  }

  .img-contact {
    width: 80px;
    height: 80px;
    padding: 23px;
  }

  .wallet-sec h2,
  .game-sec h2 {
    margin-bottom: 20px !important;
  }

  img.wallet-img4 {
    left: 14%;
  }

  img.wallet-img5 {
    right: 8%;
  }

  img.wallet-img22 {
    width: 105px;
  }

  .wallet-img11 {
    right: 21%;
  }

  img.wallet-img33 {
    right: 16%;
  }

  .work-mode h3 {
    margin-bottom: 1.5rem;
  }

  .all-mob:hover .div-img2 {
    right: 34%;
  }

  .all-mob:hover .div-img3 {
    left: 32%;
  }

  .active .div-img2 {
    right: 34%;
  }

  .active .div-img3 {
    left: 32%;
  }

  .hide-card {
    transform: matrix(0.99, -0.13, 0.2, 0.98, 33, 16);
  }

  .hide-card2 {
    transform: matrix(1, 0.1, -0.2, 0.92, 32, 39);
  }

  .hide-card3 {
    transform: matrix(-0.99, -0.1, -0.2, 0.98, -33, 22);
  }

  .month-div:hover .hide-card {
    transform: matrix(0.87, -0.19, 0.2, 0.99, 15, 30);
  }

  .month-div:hover .hide-card2 {
    transform: matrix(1, 0.2, -0.2, 0.92, 43, 31);
  }

  .month-div:hover .hide-card3 {
    transform: matrix(-0.99, -0.2, -0.2, 0.99, -41, 33);
  }

  .active .hide-card {
    transform: matrix(0.87, -0.19, 0.2, 0.99, 15, 30);
  }

  .active .hide-card2 {
    transform: matrix(1, 0.2, -0.2, 0.92, 43, 31);
  }

  .active .hide-card3 {
    transform: matrix(-0.99, -0.2, -0.2, 0.99, -41, 33);
  }

  .all-wokout:hover .img-workout {
    transform: translate(30%, 0px);
  }

  .active .img-workout {
    transform: translate(30%, 0px);
  }

  .track-sec .img-track,
  .track-sec .img-trackhover {
    width: 230px;
    height: 230px;
  }

  .img-static {
    width: 230px;
  }

  .img-trackmainnft {
    transform: translate(5%, 5%);
  }

  .div-imghovernf {
    transform: translate(30%, 25%);
  }

  .div-imghovernf2 {
    transform: translate(61%, 49%);
  }

  .all-img-track {
    height: 390px !important;
  }

  .div-imghovernf3 {
    bottom: 15%;
  }

  .all-img-track:hover .div-imghovernf2 {
    transform: translate(5%, 5%);
  }

  .all-img-track:hover .img-trackmainnft {
    transform: translate(30%, 25%);
  }

  .all-img-track:hover .div-imghovernf {
    transform: translate(61%, 49%);
  }

  .active .active .div-imghovernf2 {
    transform: translate(5%, 5%);
  }

  .active .img-trackmainnft {
    transform: translate(30%, 25%);
  }

  .active .div-imghovernf {
    transform: translate(61%, 49%);
  }

  .div-imghoverm2 .img-motivatehover,
  .img-motivate {
    width: 200px;
    height: 200px;
  }

  .div-imghoverm .img-motivatehover {
    width: 210px;
    height: 375px;
  }

  .img-main-introduction .screen1 {
    left: 0%;
  }

  .img-main-introduction .screen3,
  .img-main-introduction .into2,
  .img-main-introduction .screen2 {
    width: 170px;
  }

  .f-3-2-rem {
    font-size: 1.8rem;
  }

  .f-19 {
    font-size: 16px;
  }

  .f-1-5-rem {
    font-size: 1.1rem;
  }

  .img-cart img {
    width: 75px !important;
    height: 75px;
  }

  .fill {
    font-size: 50px;
  }

  .all-track .div-i {
    width: 50px;
    height: 50px;

  }

  .app-sec .app-i img {
    padding: 5px;
  }

  .f-2-rem {
    font-size: 1.8rem;
  }

}

@media (max-width: 480px) {


  .text-swiper {
    width: 55%;
    padding: 0 30px !important;
}
.text-swiper .f-2-7rem {
  font-size: 2rem;
}
.text-swiper .f-20 {
  font-size: 15px;
}
.img-swiper {
  width: 45%;
}
.swiper-button-next:after, .swiper-button-prev:after {
  font-size: 22px;
}
.swiper-button-next, .swiper-rtl .swiper-button-prev {
  right: 3px;
}
.swiper-button-prev, .swiper-rtl .swiper-button-next {
  left: 3px;
}




  .f-3-1-rem {
    font-size: 1.5rem;
  }

  .px-responsive {
    padding: 0 40px;
  }

  .answer-works {
    height: 485px;
  }

  .div-imghoverm {
    transform: translate(67%, 0%);
  }

  .all-img-track:hover .div-imghoverm2 {
    transform: translate(0%, 32%);
  }

  .active .div-imghoverm2 {
    transform: translate(0%, 32%);
  }

  .img-motivationmain {
    transform: translate(0%, 32%);
  }

  .div-imghoverm2 {
    transform: translate(35%, 59%);
  }

  .all-img-track:hover .img-motivationmain {
    transform: translate(35%, 59%);
  }

  .active .img-motivationmain {
    transform: translate(35%, 59%);
  }

  .div-imghover {
    transform: translate(29%, 26%);
  }

  .div-imghover2 {
    transform: translate(57%, 40%);
  }

  .img-trackmain {
    transform: translate(0%, 10%);
  }

  .all-img-track:hover .div-imghover2 {
    transform: translate(0%, 10%);
  }

  .all-img-track:hover .img-trackmain {
    transform: translate(29%, 26%);
  }

  .all-img-track:hover .div-imghover {
    transform: translate(57%, 40%);
  }

  .active .div-imghover2 {
    transform: translate(0%, 10%);
  }

  .active .img-trackmain {
    transform: translate(29%, 26%);
  }

  .active .div-imghover {
    transform: translate(57%, 40%);
  }

  imghovernf2 {
    transform: translate(28%, 49%);
  }

  .div-imghovernf {
    transform: translate(14%, 25%);
  }

  .img-trackmainnft {
    transform: translate(0%, 5%);
  }

  .all-img-track:hover .img-trackmainnft {
    transform: translate(14%, 25%);
  }

  .all-img-track:hover .div-imghovernf {
    transform: translate(61%, 49%);
  }

  .all-img-track:hover .div-imghovernf2 {
    transform: translate(0%, 5%);
  }

  .active .img-trackmainnft {
    transform: translate(14%, 25%);
  }

  .active .div-imghovernf {
    transform: translate(61%, 49%);
  }

  .active .div-imghovernf2 {
    transform: translate(0%, 5%);
  }

  .div-imghoverr {
    transform: translate(0%, 20%);
  }

  .div-imghoverr2 {
    transform: translate(27%, 36%);
  }

  .all-img-track:hover .div-imghoverr {
    transform: translate(27%, 36%);
  }

  .all-img-track:hover .div-imghoverr2 {
    transform: translate(0%, 20%);
  }

  .active .div-imghoverr {
    transform: translate(27%, 36%);
  }

  .active .div-imghoverr2 {
    transform: translate(0%, 20%);
  }

  .f-1-7-rem {
    font-size: 1.1rem;
  }

  .work-mode {
    padding: 45px;
    background-color: #ecefff;
  }

  .img-doc img {
    border-radius: 20px;
  }

  .second-details,
  .second-details2,
  .second-details3 {
    margin-inline-start: 40px !important;
  }

  .second-details::after,
  .second-details2::after {
    height: 170px;
  }

  .second-details2:before,
  .second-details3::before,
  .second-details:before {
    top: 39%;
    left: -10% !important;
  }

  .second-details2::after {
    left: -8%;
    top: 48%;
  }

  .second-details::after {
    left: -8%;
    top: 49%;
  }

  .f-17 {
    font-size: 14px;
  }

  .d-nonexs {
    display: none;
  }

  img.wallet-img3 {
    right: 0%;
  }

  img.wallet-img2 {
    left: 0%;
  }

  .f-1-8-rem {
    font-size: 1.4rem;
  }

  .f-3-4-rem {
    font-size: 1.5rem;
  }

  .work-mode h3 {
    font-size: 1.2rem;
  }

  .d-b-block-x {
    display: block !important;
  }

  img.wallet-img22 {
    left: 10%;
  }

  .wallet-img11 {
    right: 17%;
  }

  img.wallet-img33 {
    right: 11%;
  }

  img.wallet-img4 {
    left: 10%;
  }

  img.wallet-img5 {
    right: 0%;
  }

  .animated-button {
    margin-bottom: 15px;
  }

  .panner-details.p-100 {
    padding-top: 50px;
    padding-bottom: 30px;
  }

  .py-5 {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
  }

  .img-main-introduction .img1 {
    width: 100%;
  }

  .img-main-introduction .img1 {
    width: 80%;
  }

  .img-main-introduction .screen3,
  .img-main-introduction .into2,
  .img-main-introduction .screen2 {
    width: 130px;
  }

  .img-main-introduction .screen1 {
    width: 200px;
  }

  .img-main-introduction .water-img {
    width: 45px;
    top: -32px;
    right: 15px;
  }

  .img-main-introduction .into2 {
    top: 58px;
  }

  .f-25 {
    font-size: 16px;
  }

  .f-3-2-rem {
    font-size: 1.6rem;
  }

  .all-track {
    padding: 20px;
  }

  .track-sec .img-track,
  .track-sec .img-trackhover {
    width: 200px;
    height: 200px;
  }

  .all-img-track {
    height: 330px !important;
  }

  .div-imghoverm2 .img-motivatehover,
  .img-motivate {
    width: 170px;
    height: 170px;
  }

  .div-imghoverm .img-motivatehover {
    width: 190px;
    height: 315px;
  }

  .app-details h2 {
    margin-bottom: 20px !important;
  }

  .img-workout {
    width: 190px;
  }

  .workout-img1 {
    width: 180px;
    transform: translate(-120px, 100px);
  }

  .all-wokout:hover .workout-img1 {
    transform: translate(-185px, 100px);
  }

  .active .workout-img1 {
    transform: translate(-185px, 100px);
  }

  .frame-i,
  .frame-i2 {
    font-size: 15px;
    width: 40px;
    height: 40px;
  }

  .img-frame .mob-img1 {
    width: 155px;
  }

  .img-frame .mob-img2,
  .img-frame .mob-img3 {
    width: 120px;
  }

  .div-img2 {
    right: 9%;
  }

  .div-img3 {
    left: 5%;
  }

  .all-mob:hover .mob-img2,
  .all-mob:hover .mob-img3 {
    width: 130px;
  }

  .all-mob:hover .div-img3 {
    left: 33%;
  }

  .all-mob:hover .div-img2 {
    right: 31%;
  }

  .active .div-img3 {
    left: 29%;
  }

  .active .div-img2 {
    right: 31%;
  }

  .bedo-second {
    margin-top: 1rem !important;
  }

  .bedo-second .my-5 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
  }

  .bedo-sec .display-block {
    flex-wrap: wrap;
  }

  .bedo-sec .display-block .animated-button {
    width: 100%;
  }

  .d-start {
    flex-wrap: wrap;
  }

  .d-start a {
    margin-bottom: 15px;
  }

  .hide-card {
    transform: matrix(0.99, -0.13, 0.2, 0.98, 33, 21);
  }

  .hide-card2 {
    transform: matrix(1, 0.1, -0.2, 0.92, 32, 35);
  }

  .hide-card3 {
    transform: matrix(-0.99, -0.1, -0.2, 0.98, -33, 26);
  }

  .month-div:hover .hide-card {
    transform: matrix(0.87, -0.19, 0.2, 0.99, 21, 40);
    width: 80%;
  }

  .month-div:hover .hide-card2 {
    transform: matrix(1, 0.2, -0.2, 0.92, 41, 22);
    width: 70%;
  }

  .month-div:hover .hide-card3 {
    transform: matrix(-0.99, -0.2, -0.2, 0.99, -41, 41);
    width: 70%;
  }

  .active .hide-card {
    transform: matrix(0.87, -0.19, 0.2, 0.99, 21, 40);
    width: 80%;
  }

  .active .hide-card2 {
    transform: matrix(1, 0.2, -0.2, 0.92, 41, 22);
    width: 70%;
  }

  .active .hide-card3 {
    transform: matrix(-0.99, -0.2, -0.2, 0.99, -41, 41);
    width: 70%;
  }

  .img-center .imgscreen {
    border-radius: 50px;
  }

  .h-260 {
    height: 185px;
  }

  .answer-works img {
    width: 290px !important;
  }

  .h-385 {
    height: 210px;
  }

  .animated-button2 {
    width: 100%;
  }
}

@media (max-width: 375px) {


  .text-swiper .f-2-7rem {
    font-size: 1.8rem;
    margin-bottom: 10px !important;
}
.text-swiper .f-20 {
  font-size: 14px;
}
.slider .display-girds{
  display: inline-grid !important;
}
.text-swiper {
  width: 100%;
  padding: 30px !important;
  
}
.img-swiper {
  width: 100%;
}
.br-slide {
  border-radius: 20px 20px 0 0;
}
.br-img {
  border-radius: 0 0px 20px 20px;
}

.slider-thumbnail {
  height: 100px;
  margin-top: 25px;
}
.slider-thumbnail .swiper-wrapper .swiper-slide {
  width: 30%;
  border-radius: 12px;

}
.slider-thumbnail .swiper-wrapper .swiper-slide .overlay {
  border-radius: 12px;
}


.swiper-slide {
  height: 500px;
  overflow: hidden;
}



  .img-center {
    width: 100%;
  }

  .px-responsive {
    padding: 0;
  }

  img.wallet-img4 {
    left: 0%;
  }

  img.wallet-img5 {
    right: 0%;
  }

  .all-track.default-bg,
  .all-track.nft {
    padding-inline-start: 30px;
    padding-inline-end: 30px;
  }

  .answer-works img {
    width: 100% !important;
    height: 160px;
  }

  .h-280 {
    height: 150px;
    padding-top: 15px;
  }

  img.wallet-img5 {
    width: 130px;
  }

  img.wallet-img4 {
    width: 70px;
  }



  .w-200 {
    width: 185px !important;
  }

  .img-doc img {
    width: 70%;
  }

  .img-doc .w-75 {
    width: 70% !important;
  }

  .w-150 {
    width: 150px !important;
  }

  img.wallet-img22 {
    width: 95px;
  }

  img.wallet-img33 {
    width: 84px;
  }

  .img-main-introduction .img1 {
    width: 100%;
  }

  .img-main-introduction .screen2 {
    left: 0%;
    bottom: 9%;
  }

  .img-main-introduction .screen3 {
    bottom: 35%;
  }

  .track-sec .img-track,
  .track-sec .img-trackhover {
    width: 165px;
    height: 165px;
  }

  .all-img-track {
    height: 280px !important;
  }

  .div-imghoverm2 .img-motivatehover,
  .img-motivate {
    width: 140px;
    height: 140px;
  }

  .div-imghoverm .img-motivatehover {
    width: 150px;
    height: 270px;
  }

  .app-sec .mobile-img {
    width: 100%;
  }

  .all-wokout:hover .img-workout {
    transform: translate(15%, 0px);
  }

  .active .img-workout {
    transform: translate(15%, 0px);
  }

  .all-mob:hover .div-img2 {
    right: 29%;
  }

  .all-mob:hover .div-img3 {
    left: 27%;
  }

  .active .div-img2 {
    right: 29%;
  }

  .active .div-img3 {
    left: 27%;
  }

  .bedo-coin {
    padding: 40px 20px !important;
  }

  .f-3-2-rem {
    font-size: 1.4rem;
  }

  .f-1-6-rem {
    font-size: 1.1rem;
  }

  .month-div {
    height: 310px;
  }

  .month-card,
  .month-card2,
  .month-card3 {
    height: 250px;
    padding: 30px;
  }

  .hide-card {
    transform: matrix(0.99, -0.13, 0.2, 0.98, 24, 22);
  }

  .hide-card2 {
    transform: matrix(1, 0.1, -0.2, 0.92, 27, 22);
  }

  .hide-card3 {
    transform: matrix(-0.99, -0.1, -0.2, 0.98, -24, 26);
  }

  .month-div:hover .hide-card3 {
    transform: matrix(-0.99, -0.2, -0.2, 0.99, -31, 36);
  }

  .month-div:hover .hide-card2 {
    transform: matrix(1, 0.2, -0.2, 0.92, 32, 13);
  }

  .month-div:hover .hide-card {
    transform: matrix(0.87, -0.19, 0.2, 0.99, 17, 35);
  }

  .active .hide-card3 {
    transform: matrix(-0.99, -0.2, -0.2, 0.99, -31, 36);
  }

  .active .hide-card2 {
    transform: matrix(1, 0.2, -0.2, 0.92, 32, 13);
  }

  .active .hide-card {
    transform: matrix(0.87, -0.19, 0.2, 0.99, 17, 35);
  }

  .w-250 {
    width: 100% !important;
  }


  .f-2-1-rem {
    font-size: 1.3rem;
  }

  .f-20 {
    font-size: 14px;
  }

  .img-cart img {
    width: 60px !important;
    height: 60px;
  }

  img.wallet-img22 {
    left: 0%;
  }

  img.wallet-img33 {
    right: 4%;
  }

  .wallet-img11 {
    right: 10%;
  }
}

@media (max-width: 320px) {
  .accordion-button {
    font-size: 16px;
  }

  .f-2-1-rem {
    font-size: 1.1rem;
  }

  .wallet-sec img,
  .game-sec img {
    object-fit: contain;
  }

  .answer-works img {
    height: 140px;
  }

  .all-track .div-i {
    width: 40px;
    height: 40px;
  }

  .h-260 {
    height: 170px;
  }

  .h-385 {
    height: 200px;
  }

  .f-2-7rem {
    font-size: 2rem;
  }

  .work-mode {
    padding: 30px;
  }

  .animated-button {
    padding: 11px;
    font-size: 16px;
  }

  .form-control {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 12px;
  }

  .img-contact {
    top: -8%;
    right: 38%;
  }

  .second-details,
  .second-details2,
  .second-details3 {
    padding-bottom: 10px !important;
  }

  .second-details::after {
    top: 32%;
    left: -7%;
  }

  .second-details2:before,
  .second-details3::before,
  .second-details:before {
    top: 31%;
    left: -10% !important;
  }

  .second-details2::after {
    left: -7%;
    top: 39%;
  }

  .hide-card2 {
    width: 84%;
  }

  .accordion-body {
    font-size: 14px;
  }

  .wallet-div img {
    width: 100% !important;
    margin-bottom: 25px;
  }

  .w-185 {
    width: 140px !important;
    height: 140px !important;
  }

  .w-200 {
    width: 150px !important;
  }

  img.wallet-img4 {
    width: 60px;
  }

  img.wallet-img2 {
    width: 85px;
  }

  img.wallet-img3 {
    width: 100px;
  }

  img.wallet-img5 {
    width: 115px;
  }

  img.wallet-img22 {
    width: 80px;
  }

  img.wallet-img33 {
    width: 75px;
    right: 0%;
  }

  .wallet-img11 {
    right: 0%;
    width: 55px;
  }

  .img-mode {
    width: 100%;
  }

  .p-5 {
    padding: 2rem !important;
  }

  .hide-card2 {
    transform: matrix(1, 0.1, -0.2, 0.92, 27, 20);
  }

  .hide-card3 {
    transform: matrix(-0.99, -0.1, -0.2, 0.98, -24, 27);
  }

  .hide-card {
    transform: matrix(0.99, -0.13, 0.2, 0.98, 24, 24);
  }

  .month-div:hover .hide-card {
    transform: matrix(0.87, -0.19, 0.2, 0.99, 17, 39);
  }

  .month-div:hover .hide-card2 {
    transform: matrix(1, 0.2, -0.2, 0.92, 32, 9);
  }

  .month-div:hover .hide-card3 {
    transform: matrix(-0.99, -0.2, -0.2, 0.99, -31, 40);
  }

  .active .hide-card {
    transform: matrix(0.87, -0.19, 0.2, 0.99, 17, 39);
  }

  .active .hide-card2 {
    transform: matrix(1, 0.2, -0.2, 0.92, 32, 9);
  }

  .active .hide-card3 {
    transform: matrix(-0.99, -0.2, -0.2, 0.99, -31, 40);
  }

  .f-3-2-rem {
    font-size: 1.3rem;
  }

  .f-25 {
    font-size: 13px;
  }

  .title,
  .title h2 {
    margin-bottom: 15px !important;
  }

  .title h3 {
    margin-bottom: 25px !important;
  }

  .all-accord h4 {
    padding-bottom: 0.5rem !important;
    font-size: 18px;
  }

  .p-100 {
    padding-top: 60px;
    padding-bottom: 50px;
  }

  .f-1-6-rem {
    font-size: 0.9rem;
  }

  .img-frame .mob-img1 {
    width: 120px;
  }

  .img-frame .mob-img2,
  .img-frame .mob-img3 {
    width: 95px;
    border-radius: 25px;
  }

  .div-img2 {
    right: 0%;
  }

  .div-img3 {
    left: 0%;
  }

  .all-mob:hover .mob-img2,
  .all-mob:hover .mob-img3 {
    width: 100px;
  }

  .all-mob:hover .div-img3 {
    left: 25%;
  }

  .active .div-img3 {
    left: 25%;
  }

  .img-workout {
    width: 150px;
    transform: translate(0%, 0px);
  }

  .workout-img1 {
    width: 145px;
    transform: translate(-80px, 77px);
    height: 60px;
  }

  .all-wokout:hover .workout-img1 {
    transform: translate(-147px, 77px);
  }

  .all-wokout:hover .img-workout {
    transform: translate(10%, 0px);
  }

  .active .workout-img1 {
    transform: translate(-147px, 77px);
  }

  .active .img-workout {
    transform: translate(10%, 0px);
  }

  .track-sec .img-track,
  .track-sec .img-trackhover {
    width: 135px;
    height: 135px;
  }

  .all-img-track {
    height: 220px !important;
  }

  .img-static {
    width: 150px;
    border-radius: 10px;
  }

  .div-imghoverm2 .img-motivatehover,
  .img-motivate {
    width: 110px;
    height: 110px;
  }

  .div-imghoverm .img-motivatehover {
    width: 120px;
    height: 210px;
  }

  .img-main-introduction .screen1 {
    top: 12%;
  }

  .img-main-introduction .screen2 {
    bottom: 6%;
  }

  .img-main-introduction .into2 {
    left: 39px;
    border-radius: 10px;
  }

  .media .p-5 {
    padding: 1.5rem !important;
  }
}